services:
  docusign-api:
    build:
      context: .
      dockerfile: dockerfile.prod
    container_name: docusign-api-prod
    expose:
      - "5001"
    env_file:
      - .env
    restart: unless-stopped

  nginx:
    image: nginx:latest
    container_name: nginx-prod
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - docusign-api
    restart: unless-stopped

networks:
  default:
    driver: bridge
