services:
  docusign-api:
    build:
      context: .
      dockerfile: dockerfile.dev
    container_name: docusign-api
    ports:
      - "5001:5001"
    env_file:
      - .env
    restart: unless-stopped
networks:
  main:
    driver: bridge